<form action="/" method="post">
  <div class="form-group">
    <label for="userId">User ID:</label>
    <input type="text" name="user_id" id="userId" required="true" class="form-control">
    <label for="message">Message:</label>
    <textarea type="textarea" name="message" id="message" required="true" class="form-control"></textarea>
  </div>
  <input type="submit" value="Send" class="btn btn-primary">
</form>
